.place {
  width: 300px;
  height: 300px;
  margin: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.place-img {
  border-radius: 10px;
  width: 100%;
}

h1 {
  font-size: 15px;
}
.place-text {
  display: flex;
  flex-direction: column;
}

.learn {
  display: flex;
  justify-content: space-between;
}

.place-text button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 35%;
  height: 40px;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 13px;
  background: #5783db;
  cursor: pointer;
}

.place-text button:hover {
  border: 1px solid #55c2da;
  background: #55c2da;
  transition: 0.5s;
}
