.single-hotel-wrapper {
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img.jpg);
}

.single-hotel-insert-info {
  color: #fff;
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

.single-hotel-insert-info button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 13%;
  height: 28px;
  margin-top: 15px;
  border-radius: 8px;
  padding: 4px 4px;
  font-size: 12px;
  background: transparent;
  cursor: pointer;
}

.single-hotel-insert-info button:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}

.single-hotel-content-section {
  width: 100%;
  background: rgba(0, 87, 114, 0.7);
  display: flex;
  justify-content: center;
}

.single-hotel-content-wrapper {
  width: 90%;
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.single-hotel-content-title {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.single-hotel-content-title a {
  text-decoration: none;
  color: black;
}

.single-hotel-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
}

.single-hotel-content-text {
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.located-at {
  margin-bottom: 8px;
}

.single-hotel-location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.single-hotel-location h2 {
  font-weight: normal;
  font-size: 16px;
}

.single-hotel-location p {
  font-size: 14px;
}

.single-hotel-content-class-intro {
  display: flex;
  justify-content: space-between;
}

.single-hotel-content-class-intro h2 {
  font-weight: normal;
  font-size: 16px;
}

.single-hotel-content-class-text {
  display: flex;
  justify-content: space-between;
}

.single-hotel-content-class-text h2 {
  font-weight: normal;
  font-size: 16px;
}

.single-hotel-content-class-text p {
  font-size: 14px;
}

.single-hotel-content-summary {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.single-hotel-content-summary h2 {
  font-size: 18px;
}

.single-hotel-content-summary-class {
  display: flex;
  justify-content: space-between;
}

.single-hotel-content-summary-class h2 {
  width: 50%;
  font-weight: normal;
  font-size: 15px;
}

.single-hotel-content-summary-class ul {
  list-style: none;
  text-align: left;
}

.single-hotel-content-reviewnums {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.single-hotel-content-reviewnums h2 {
  font-size: 18px;
}

.single-hotel-content-review-class {
  display: flex;
  justify-content: space-between;
}

.single-hotel-content-review-class ul {
  list-style: none;
}

.single-hotel-content-review-class h2 {
  font-weight: normal;
  font-size: 16px;
}

.single-hotel-nearby h2 {
  font-size: 20px;
}

.single-hotel-nearby-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-hotel-learn-more {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 12%;
  height: 28px;
  border-radius: 8px;
  padding: 4px 4px;
  font-size: 12px;
  background: #5783db;
  cursor: pointer;
  margin-left: 760px;
}

.single-hotel-learn-more:hover {
  border: 1px solid #55c2da;
  background: #55c2da;
  transition: 0.5s;
}

.single-hotel-content-read-review-intro h2 {
  font-size: 18px;
}

.single-hotel-content-write-review h2 {
  margin-top: 15px;
  font-size: 20px;
}

.single-hotel-content-write-review input {
  margin-top: 12px;
}

.single-hotel-content-write-review textarea {
  width: 60%;
  margin-top: 15px;
  height: 120px;
  display: block;
}

.single-hotel-content-write-review button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 15%;
  height: 25px;
  border-radius: 8px;
  padding: 4px 4px;
  font-size: 12px;
  background: #5783db;
  cursor: pointer;
  margin-top: 10px;
}

.single-hotel-content-write-review button:hover {
  border: 1px solid #55c2da;
  background: #55c2da;
  transition: 0.5s;
}
