.rests {
  display: flex;
  flex-direction: column;
}

.restContainer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: 30px;
}

.showmoree {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 100px;
  height: 45px;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  right: 100px;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 13px;
  background: #5783db;
  cursor: pointer;
}

.showmoree:hover {
  border: 1px solid #55c2da;
  background: #55c2da;
  transition: 0.5s;
}
